.by-numbers {
  padding-bottom: 20px;

  h4 {
    margin: 100px 0 50px;
    font-weight: 200;
  }

  .row {
    margin-bottom: 0;

    .col {
      height: auto;
    }

    .left-box p,
    .right-box p {
      text-align: center;
      line-height: 1.8em;
      font-size: 1.2em;
      font-weight: 200;
      padding: 30px 0;
      width: 100%;
    }

    .image {
      background-size: cover;
      background-position: center;
      height: 200px;
    }

    .left-box {
      background-image: linear-gradient(70deg, #0a2bb3, #23a5d7);
    }
    
    .right-box {
      background-image: linear-gradient(42deg, #3023ae, #c86dd7);
    }
  }
}


@media only screen and (min-width: $small-screen-up) {
  .by-numbers {
    padding-bottom: 0;

    h4 {
      margin-bottom: 60px;
    }

    .row {
      .col {
        height: 280px;
        margin-bottom: 40px;
      }

      .left-box p,
      .right-box p {
        padding: auto;
        width: auto;
      }

      .image {
        height: 280px;
      }
    }
  }
}
