body {
  .re-shoping-list {
    .scrollbar {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 14px;
      padding: 4px 8px;
      z-index: 1;

      span {
        display: block;
        width: 1px;
        height: 6px;
      }
    }
  }
}
