<!DOCTYPE html>
<html lang="{{config.language}}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{page.data.attributes.name}}</title>
  <meta name="description" content="{{page.data.attributes.og_description}}">
  <meta name="keywords" content="{{page.data.attributes.keywords}}">
  <meta property="og:locale" content="{{config.language}}_{{page.data.relationships.address.data.relationships.region.data.relationships.state.data.relationships.country.data.attributes.code}}">
  <meta property="og:type" content="{{page.data.attributes.og_type}}">
  <meta property="og:title" content="{{page.data.attributes.og_title}}">
  <meta property="og:site_name" content="{{page.data.attributes.og_site_name}}" />
  <meta property="og:description" content="{{page.data.attributes.og_description}}">
  <meta property="og:url" content="{{page.data.attributes.dns}}">
  <meta property="og:image" content="{{page.data.attributes.img_og_image}}" >
  <link rel="canonical" href="{{page.data.attributes.dns}}/{{config.language}}/">
  <meta name="geo.placename" content="{{page.data.relationships.address.data.relationships.region.data.attributes.name}}">
  <meta name="geo.region" content="{{page.data.relationships.address.data.relationships.region.data.relationships.state.data.attributes.name}}, {{page.data.relationships.address.data.relationships.region.data.relationships.state.data.relationships.country.data.attributes.name}}">
  <meta name="robots" content="index, follow">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="{{page.data.attributes.img_favicon}}">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{page.data.attributes.img_favicon}}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{page.data.attributes.img_favicon}}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{page.data.attributes.img_favicon}}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{page.data.attributes.img_favicon}}">
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{page.data.attributes.img_favicon}}">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{page.data.attributes.img_favicon}}">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{page.data.attributes.img_favicon}}">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{page.data.attributes.img_favicon}}">
  <link rel="icon" type="image/x-icon" href="{{page.data.attributes.img_favicon}}" sizes="196x196">
  <link rel="icon" type="image/x-icon" href="{{page.data.attributes.img_favicon}}" sizes="96x96">
  <link rel="icon" type="image/x-icon" href="{{page.data.attributes.img_favicon}}" sizes="32x32">
  <link rel="icon" type="image/x-icon" href="{{page.data.attributes.img_favicon}}" sizes="16x16">
  <link rel="icon" type="image/x-icon" href="{{page.data.attributes.img_favicon}}" sizes="128x128">
  <link rel="icon" type="image/x-icon" href="{{page.data.attributes.img_favicon}}" sizes="192x192">
  <meta name="msapplication-TileImage" content="{{page.data.attributes.img_favicon}}">
  <meta name="msapplication-square70x70logo" content="{{page.data.attributes.img_favicon}}">
  <meta name="msapplication-square150x150logo" content="{{page.data.attributes.img_favicon}}">
  <meta name="msapplication-wide310x150logo" content="{{page.data.attributes.img_favicon}}">
  <meta name="msapplication-square310x310logo" content="{{page.data.attributes.img_favicon}}">
  {{!-- <style>
    * {
      box-sizing: border-box;
      font-family: {{{page.data.relationships.font.data.attributes.css}}};
    }
  </style> --}}
