<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tic Tac Toe</title>
</head>
<body>
  {{> tic-tac-toe }}
</body>
<script src="/static/dist/bundle_{{config.dist_version}}.js"></script>
</html>