.BannerBigPicture {
  &__header {
    display: block;
    width: 100%;
    text-align: center;
    padding: $page-width-padding-medium;
    margin: 0 0 40px;
  }

  &__picture {
    display: block;
    width: 310px;
    height: 250px;
    margin: 0 auto -30px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: $hard-button-shadow;
    z-index: 2;
  }

  &__gradient {
    width: 100%;
    padding: 40px 0;
    z-index: 1;
  }

  &__wrapper {
    widows: 100%;
    bottom: 20px;
  }

  &__title,
  &__sub-title {
    text-align: left;
  }

  &__title {
    margin: 0 0 15px;
  }
  
  &__sub-title {
    margin-bottom: 30px;
  }

  &__description {
    padding: $page-width-padding-medium;

    ul {
      padding-left: 20px;
      list-style: circle;
    }
  }
}
