.swiper-container {
  .swiper-button {
    display: none;
    position: absolute;
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
    z-index: 1;
    border: solid $white 2px;
    background-image: none;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    box-shadow: $medium-button-shadow;

    i {
      border: solid $white;
      padding: 8px;
      border-width: 0 3px 3px 0;
      display: inline-block;
      -webkit-transition: all 0.1s;
      transition: all 0.1s;
    }

    span {
      display: none;
    }
  }

  .swiper-button:hover {
    transform: scale(1.1);
  }

  .swiper-button:active {
    transform: scale(1.04);
    -webkit-filter: brightness(0.7);
    filter: brightness(0.8);
  }

  .swiper-button-prev {
    left: 20px;

    i {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      margin: 14px 0 0 18px;
    }
  }

  .swiper-button-next {
    right: 20px;

    i {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      margin: 14px 17px 0 0;
    }
  }
}

@media only screen and (min-width: $medium-screen-up) {
  .swiper-container {
    .swiper-button {
      display: block;
      outline: none;
    }

    .swiper-button-hide {
      display: none;
    }
  }
}
