@import './arrows.scss';

.swiper-container {
  margin: 0 0 $margin-between-sections;
  width: 100%;
  height: calc(100vh - 180px);
  overflow: hidden;

  .swiper-wrapper {
    .swiper-slide {
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .triangle {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 2560px;
    height: 502px;
    background-position: -2px left;
    background-size: cover;
    background-image: url('/public/slide-swiper/white-triangle.png');
  }

  .slides-horizontal {
    position: absolute;
    width: calc(100% - 70px);
    left: 35px;
    bottom: 10%;
    border-radius: 7px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: $white;
    color: $grey-darken-3;
    text-decoration: none;
    z-index: 1;
    box-shadow: $medium-shadow;

    div {
      margin: 0;
      padding: 20px;
      text-align: center;
      line-height: 1.7em;
      font-size: 1em;

      p {
        margin: 5px 0;
      }
    }
  }
}

@media only screen and (min-width: $small-screen-up) {
  .swiper-container {
    .slides-horizontal {
      width: 300px;
      left: calc(50% - 300px / 2);
      overflow: hidden;

      div {
        line-height: 1.7em;
      }
    }
  }
}

@media only screen and (min-width: $medium-screen-up) {
  .swiper-container {
    height: calc(100vh - 64px);

    .slides-horizontal {
      width: 460px;
      left: calc(50% - 460px / 2);
      bottom: 14%;
      border-radius: 10px;

      div {
        padding: 30px;
        line-height: 1.9em;
      }
    }
  }
}
