.how-it-works-six {
  h4 {
    margin: 80px 0 10px;
    font-weight: 200;
  }

  .sub-title {
    font-weight: 200;
    margin-bottom: 40px;
    font-size: 1.2em;
  }

  .card {
    overflow: hidden;

    .card-image {
      height: 150px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .btn-floating {
        font-size: 1.2em;
      }
    }
  }
}

@media only screen and (min-width: $small-screen-up) {
  .how-it-works-six {
    h4 {
      margin: 100px 0 10px;
    }

    .sub-title {
      margin-bottom: 60px;
    }

    .card {
      height: 450px;
      margin-bottom: 40px;

      .card-image {
        height: 180px;
      }
    }
  }
}
