ol,
ul {
  padding-left: 30px;
}

.game {
  display: flex;
  flex-direction: row;

  &__board-row:after {
    clear: both;
    display: table;
  }

  &__board-status {
    margin-bottom: 10px;
  }

  &__board-square {
    background: #ffffff;
    border: 1px solid #999999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }

  &__board-square:focus {
    outline: none;
  }

  &__board-info:focus {
    margin-left: 20px;
  }
}
