<div class="col s12 m6 l4">
  <div class="card">
    <div class="card-image" style="background-image:url('{{icon}}')">
      <a class="btn-floating halfway-fab waves-effect waves-light red center-align">
        {{naturalIndex @index}}
      </a>
    </div>
    <div class="card-content">
      <span class="card-title">{{title}}</span>
      <p>{{description}}</p>
    </div>
  </div>
</div>
