* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  display: block;
  width: 100%;
  float: left;
}

// .section {
//   margin: 0 auto $margin-between-sections;
//   width: 100%;
// }

// @media only screen and (min-width: $small-screen-up) {
//   .section {
//     max-width: $small-screen-up;
//   }
// }

// @media only screen and (min-width: $medium-screen-up) {
//   .section {
//     max-width: $medium-screen-up;
//   }
// }
