// http://chir.ag/projects/name-that-color/

$small-screen-up: 601px;
$medium-screen-up: 993px;
$large-screen-up: 1201px;
$small-screen: 600px;
$medium-screen: 992px;
$large-screen: 1200px;

$nav-height: 64px;
$mobile-nav-height: 56px;

$side-nav-width: 280px;
$margin-between-sections: 60px;

$page-width-padding: 0 20px;
$page-width-padding-medium: 0 30px;
$page-width-padding-large: 0 40px;
$hamburger-button-size: 40px;

$grey-darken-1: #757575;
$grey-darken-2: #616161;
$grey-darken-3: #424242;
$grey-darken-4: #333333;
$grey-darken-5: #222222;
$black: #000000;
$white: #ffffff;

$facebook-color: #3b5998;
$whatsapp-color: #25d366;
$youtube-color: #c4302b;
$twitter-color: #0084b4;

$soft-shadow: 0 3px 10px 3px rgba(143,155,166,0.2);
$medium-shadow: 0 3px 10px 3px rgba(44, 44, 44, 0.3);
$hard-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.4);

$soft-button-shadow: 0 3px 3px 0 rgba(143,155,166,0.2);
$medium-button-shadow: 0 3px 3px 0  rgba(44, 44, 44, 0.3);
$hard-button-shadow: 0 3px 3px 0  rgba(0, 0, 0, 0.4);
