.platform {
  margin-top: 90px;

  .background {
    margin-top: 190px;
    height: 350px;
    background-image: linear-gradient(19deg, #0a2bb3, #24b1e6);
  }

  .image {
    z-index: 1;
    padding: 0 !important;
    margin-top: -610px;

    i {
      display: block;
      width: calc(100% - 70px);
      height: 250px;
      margin: 40px 35px 0 35px;
      background-position: center;
      background-size: cover;
      background-image: url('/public/login-into-platform/img-platform.jpg');
      border-radius: 10px;
    }
  }

  .description {
    margin-bottom: 0;
    font-size: 1.1em;

    .content {
      margin-top: -325px;

      h4 {
        font-weight: 200;
      }

      ul {
        display: block;
        margin: 30px 0;
        padding-left: 20px;
      }

      li {
        list-style-type: circle;
      }
    }
  }
}


@media only screen and (min-width: $small-screen-up) {
  .platform {
    .image {
      i {
        width: 550px;
        margin-left: calc(50% - 550px /2);
      }
    }
  }
}

@media only screen and (min-width: $medium-screen-up) {
  .platform {
    margin-top: 90px;

    .background,
    .image {
      margin-top: 0;
      height: 100vh;
      max-height: 550px;
    }

    .image {
      i {
        width: calc(100% + 40px);
        height: calc(100% - 100px);
        margin: 50px 0 0 -40px;
        border-radius: 15px 0 0 15px;
      }
    }

    .description {
      .content {
        margin-top: -470px !important;
        width: 300px;
      }
    }
  }
}
