.nav-social-media {
  height: $mobile-nav-height;

  &__item {
    .icofont-facebook {
      color: $facebook-color;
    }

    .icofont-whatsapp {
      color: $whatsapp-color;
    }

    .icofont-twitter {
      color: $twitter-color;
    }

    .icofont-youtube {
      color: $youtube-color;
    }

    i {
      height: $mobile-nav-height;
      line-height: $mobile-nav-height;
    }
  }
}

$mobile-icon-size: 40px;

.side-nav-social-media {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 70px !important;
  padding-top: 10px;
  bottom: 45px;
  background-color: $white;

  &__item {
    width: $mobile-icon-size !important;
    height: $mobile-icon-size !important;
    padding: 0 !important;
    font-size: 2em !important;
    text-align: center !important;
    
    .icofont-facebook {
      color: $facebook-color;
    }

    .icofont-whatsapp {
      color: $whatsapp-color;
    }

    .icofont-twitter {
      color: $twitter-color;
    }

    .icofont-youtube {
      color: $youtube-color;
    }

    i {
      width: 100% !important;
      height: $mobile-icon-size !important;
      margin: 0 !important;
    }
  }
}

@media only screen and (min-width: $small-screen-up) {
  .nav-social-media {
    height: $nav-height;
    
    &__item {
      padding: 0 10px;
    }

    &__item i {
      height: $nav-height;
      line-height: $nav-height;
    }
  }
}
