@import './nav-bar-logo.scss';
@import './nav-bar-menu.scss';
@import './nav-bar-social-media.scss';
@import './nav-bar-account.scss';
@import './nav-bar-hamb-button.scss';

// @import './side-nav.scss';

// .nav {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: $nav-height;
//   background-color: $white;
//   box-shadow: $soft-shadow;
//   z-index: 2;

//   &__wrapper {
//     display: flex;
//     flex-direction: row;
//     margin: 0 auto;
//     width: 100%;
//     height: $nav-height;
//   }

//   &__logo {
//     display: flex;
//     flex-direction: column;
//     height: $nav-height;
//     width: 100%;

//     img {
//       display: flex;
//       margin: auto;
//       height: $nav-height - 20px;
//     }
//   }

//   &__menu {
//     display: none;
//   }

//   &__social-media {
//     display: none;
//   }

//   &__menu-button {
//     &__mobile {
//       display: block;
//       position: absolute;
//       top: 14px;
//       right: 10px;
//       width: $hamburger-button-size;
//       height: $hamburger-button-size;
//       cursor: pointer;
//       color: $grey-darken-2;

//       i {
//         display: block;
//         line-height: $hamburger-button-size;
//         width: 100%;
//         font-size: 1.5em;
//         text-align: center;
//       }
//     }
//   }

//   &__account {
//     display: none;
//   }
// }

// @media only screen and (min-width: $medium-screen-up) {
//   .nav {
//     &__wrapper {
//       max-width: $medium-screen-up;
//       padding: $page-width-padding;
//     }

//     &__logo {
//       width: auto;
//     }

//     &__menu {
//       display: flex;
//       flex-direction: row;
//       padding: 0;
//       margin: 0 0 0 20px;
//       flex-grow: 1;
//       list-style: none;
//       font-size: 0.9em;
  
//       li a {
//         display: inline-block;
//         height: $nav-height;
//         line-height: $nav-height;
//         color: $grey-darken-3;
//         transition: border-bottom 0.25s;
//         padding: 0 15px;
  
//         &:hover {
//           color: $black;
//         }
  
//         i {
//           margin-right: 7px;
//         }
//       }
//     }
  
//     &__social-media {
//       display: flex;
//       flex-direction: row;
//       padding: 0;
//       margin: 0;
//       list-style: none;
  
//       li a {
//         display: inline-block;
//         height: $nav-height;
//         line-height: $nav-height;
//         text-align: center;
//         font-size: 1.5em;
//         color: $grey-darken-2;
//         transition: color 0.25s;
//         padding: 0 8px;
      
//         .icofont-facebook {
//           color: $facebook-color;
//         }

//         .icofont-whatsapp {
//           color: $whatsapp-color;
//         }

//         .icofont-twitter {
//           color: $twitter-color;
//         }

//         .icofont-youtube {
//           color: $youtube-color;
//         }
//       }
//     }

//     &__account {
//       display: flex;
//       height: $nav-height - 30px;
//       flex-direction: row;
//       padding: 0 0 0 10px;
//       margin: 15px 0 0 10px;
//       list-style: none;
//       border-left: 1px solid $grey-darken-1;
  
//       li a {
//         display: inline-block;
//         height: 100%;
//         text-align: center;
//         color: $grey-darken-2;
//         transition: color 0.25s;

//         i,
//         span {
//           display: inline-block;
//           width: 100%;
//         }

//         i {
//           font-size: 1.2em;
//         }
        
//         span {
//           font-size: 0.8em;
//           font-weight: bold;
//         }
//       }
//     }

//     &__menu-button {
//       &__mobile {
//         display: none;
//       }
//     }
//   }
// }

// @media only screen and (min-width: $medium-screen-up-large) {
//   .nav {
//     &__wrapper {
//       max-width: $medium-screen-up-large;
//     }
//   }
// }
