.HamburguerMenu {
  &__line {
    display: block;
    width: 1px;
    background-color: #999999;
    height: $mobile-nav-height - 20px;
    margin: 10px 15px 10px 10px;
  }
}

@media only screen and (min-width: $small-screen-up) {
  .HamburguerMenu {
    &__line {
      height: $nav-height - 20px;
    }
  }
}
