.nav-account {
  &__item {
    height: $mobile-nav-height;
    line-height: initial;

    i {
      height: 24px;
      line-height: 24px;
      margin-bottom: 5px;
    }

    span {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  &__line {
    width: 1px;
    background-color: #999999;
    height: $mobile-nav-height - 20px;
    margin: 10px;
  }
}

.side-nav-account {
  position: relative;
  float: left;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-evenly;
  width: 100%;

  &__item {
    width: 100%;
  }

  &__line {
    display: none;
  }
}

@media only screen and (min-width: $small-screen-up) {
  .nav-account {
    height: $nav-height;

    &__item {
      height: $nav-height;
      padding: 10px;
    }

    &__line {
      height: $nav-height - 20px;
    }
  }
}
