$logo-space: 14px;
$m-logo-h: $mobile-nav-height - $logo-space;
$m-logo-magin: ( $mobile-nav-height - $m-logo-h) / 2;
$logo-h: $nav-height - $logo-space;
$logo-magin: ( $nav-height - $logo-h) / 2;

.nav-logo {
  height: $mobile-nav-height;

  img {
    height: $m-logo-h;
    margin-top: $m-logo-magin;
  }
}

.side-nav-logo {
  width: 100%;
  
  img {
    display: block;
    height: $nav-height;
    margin: $logo-space auto;
  }
}


@media only screen and (min-width: $small-screen-up) {
  .nav-logo {
    height: $nav-height;

    img {
      height: $logo-h;
      margin-top: $logo-magin;
    }
  }
}
