// .side-nav {
//   display: flex;
//   flex-direction: column;
//   position: fixed;
//   background-color: $white;
//   top: 0;
//   width: $side-nav-width;
//   height: 100%;
//   box-shadow: $hard-shadow;
//   transition: right 0.35s ease-in-out 0s;
//   z-index: 2;

//   &__close-button {
//     &__large {
//       display: block;
//       position: fixed;
//       top: 0;
//       width: 100%;
//       height: 100%;
//       transition: right 0.4s ease-in-out 0s;
//       background-color: rgba($color: $black, $alpha: 0.4);
//       right: -100%;
//       z-index: 2;

//       &--opened {
//         right: 0;
//       }
//     }

//     &__small {
//       display: block;
//       position: absolute;
//       top: 14px;
//       right: 10px;
//       width: $hamburger-button-size;
//       height: $hamburger-button-size;
//       cursor: pointer;
//       color: $grey-darken-2;

//       i {
//         display: block;
//         line-height: $hamburger-button-size;
//         width: 100%;
//         font-size: 1.5em;
//         text-align: center;
//       }
//     }
//   }

//   &__menu {
//     display: flex;
//     flex-direction: column;
//     flex-grow: 1;
//     padding: 0;
//     margin: 0;
//     list-style: none;
//     font-size: 0.9em;

//     li a {
//       display: inline-block;
//       width: 100%;
//       color: $grey-darken-3;
//       transition: border-bottom 0.25s;
//       padding: 15px 0 15px 20px;

//       &:hover {
//         color: $black;
//       }

//       i {
//         margin-right: 7px;
//       }
//     }
//   }

//   &__account {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     padding: 0;
//     margin: 0;
//     list-style: none;
//     border-top: 1px solid $grey-darken-1;
//     border-bottom: 1px solid $grey-darken-1;

//     li a {
//       display: inline-block;
//       text-align: center;
//       color: $grey-darken-2;
//       transition: color 0.25s;
//       padding: 15px 5px;

//       i {
//         font-size: 1.1em;
//       }

//       span {
//         margin-left: 7px;
//         font-size: 0.9em;
//         font-weight: bold;
//       }

//       &:hover {
//         color: $black;
//       }
//     }
//   }

//   &__social-media {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     padding: 0;
//     margin: 15px 0;
//     list-style: none;

//     li a {
//       display: inline-block;
//       text-align: center;
//       font-size: 1.5em;
//       color: $grey-darken-2;
//       transition: color 0.25s;
      
//       .icofont-facebook {
//         color: $facebook-color;
//       }

//       .icofont-whatsapp {
//         color: $whatsapp-color;
//       }

//       .icofont-twitter {
//         color: $twitter-color;
//       }
      
//       .icofont-youtube {
//         color: $youtube-color;
//       }
//     }
//   }

//   &--opened {
//     right: 0;
//   }

//   &--closed {
//     right: -$side-nav-width - 20px;
//   }
// }


// @media only screen and (min-width: $medium-screen-up) {
//   .side-nav {
//     right: -$side-nav-width - 20px;

//     &__close-button {
//       &__large {
//         right: -100%;
//       }
//     }
//   }
// }
