.InfoGrid {
  &__item {
    width: 310px;
    margin: 0 auto 50px;
  }

  &__header,
  &__item-title,
  &__item-description {
    display: block;
    width: 100%;
    text-align: center;
    padding: $page-width-padding-medium;
  }

  &__header {
    margin: 0 0 40px;
  }

  &__title,
  &__sub-title {
    text-align: center;
  }

  &__title {
    margin: 0;
  }

  &__sub-title {
    margin: 20px 0 0;
  }
  
  &__item-title {
    font-size: 1.1em;
    color: $black;
    margin: 0;
  }

  &__item-description {
    color: $grey-darken-4;
  }

  &__icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 13px calc(50% - 30px) 30px;
    border-radius: 35px;
    font-size: 2em;
    color: $white;
    text-align: center;
    background-color: $white;
    box-shadow: 0 9px 30px 4px rgba(143,155,166,0.25);
    vertical-align: middle;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
}

@import './tablet.scss';
@import './desktop.scss';
