@media only screen and (min-width: $small-screen-up) {
  .InfoGrid {
    &__item {
      float: left;
      width: 50%;
      height: 240px;
      overflow: hidden;
      margin: 0 auto 20px;
    }
  }
}
