<br><br><br><br><br><br>
<br><br><br><br><br><br>
<hr style="width: 70%;">
{{config.version}}
{{#if styles}}
<style>
{{{styles}}}
</style>
{{else}}
<link rel="stylesheet" type="text/css" href="/static/dist/styles_{{config.version}}.css">
{{/if}}
<link rel="stylesheet" type="text/css" href="/static/dist/vendors.css">
<script id="config" type="application/json">{{{ jsConfig }}}</script>
<script id="page" type="application/json">{{{ jsPage }}}</script>
<script src="/static/dist/vendors.js"></script>
<script src="/static/dist/app_{{config.version}}.js"></script>
<link rel="stylesheet" type="text/css" href="/static/fonts/icons/icofont.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{{!-- <link href="https://fonts.googleapis.com/css?family={{page.data.relationships.font.data.attributes.family}}" rel="stylesheet"> --}}
{{!-- <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0/dist/smooth-scroll.polyfills.min.js"></script>
<script>
var scroll = new SmoothScroll('a[href*="#"]', {
  offset: function (anchor, toggle) {
    return 90;
  }
});
</script> --}}
{{!-- <script src="https://cdn.jsdelivr.net/npm/scroll-watcher@latest/dist/scroll-watcher.min.js"></script> --}}
