{{#if left}}
<div class="col s12 m4 left-box center-align white-text valign-wrapper hide-on-small-only">
  <p>{{description}}</p>
</div>
<div class="col s12 m4 left-box center-align white-text valign-wrapper hide-on-med-and-up">
  <p>{{description}}</p>
</div>
<div class="col s12 m8">
  <div class="row">
    <div class="col s11 offset-s1 image hide-on-small-only" style="background-image:url('{{image}}');"></div>
    <div class="col s12 image hide-on-med-and-up" style="background-image:url('{{image}}');"></div>
  </div>
</div>
{{else}}
<div class="col s12 m4 right-box center-align white-text valign-wrapper hide-on-med-and-up">
  <p>{{description}}</p>
</div>
<div class="col s12 m8">
  <div class="row">
    <div class="col s11 image hide-on-small-only" style="background-image:url('{{image}}');"></div>
    <div class="col s12 image hide-on-med-and-up" style="background-image:url('{{image}}');"></div>
  </div>
</div>
<div class="col s12 m4 right-box center-align white-text valign-wrapper hide-on-small-only">
  <p>{{description}}</p>
</div>
{{/if}}
