.contact-buttons {
  background-color: green;
  padding: 30px 0 10px;
  margin-top: 90px;

  h4 {
    font-weight: 200;
    text-shadow: 0 0 3px rgba(24, 24, 24, 0.377);
    margin-bottom: 30px;
  }

  &__item {
    display: block;
    border: 0.5px solid $white;
    border-radius: 12px;
    color: $white;
    padding: 0 15px 20px;
    height: auto;
    transition: all 0.25s ease;
    margin-bottom: 30px;
  }

  &__icon {
    width: 100%;
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 2.6em;
  }

  &__title {
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    margin: 0;
    font-weight: 100;
    margin-bottom: 15px;
  }

  &__description {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: $small-screen-up) {
  .contact-buttons {
    padding: 30px 0;

    &__icon {
      margin: 30px 0 15px 0;
      font-size: 3em;
    }

    &__item {
      height: 270px;
      padding: 0 10px;
      margin: 0;
    }
  }
}

@media only screen and (min-width: $medium-screen-up) {
  .contact-buttons {
    &__item:hover {
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
    }
  }
}
