.brand-video {
  margin: 90px 0 20px;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url('/public/brand-video/video-bg.png');

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(2, 57, 209, 0.5);

    .container {
      height: 100%;

      h4 {
        font-weight: 200;
        text-shadow: 0 0 3px rgba(0,0,0,0.6);
        margin-top: 120px;
      }
    }
  }

  .Video {
    position: relative;
    float: left;
    width: 100%;

    &__btn {
      position: relative;
      display: block;
      cursor: pointer;
      width: 100px;
      height: 100px;
      margin-top: 60px;
      margin-left: calc(50% - 50px);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('/public/brand-video/play-button.svg');
    }

    &__layer {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.6);
      z-index: 997;

      &--hidden {
        display: none;
      }
    }

    &__player {
      width: calc(100% - 30px);
      height: calc(100vh - 30px);
      margin: 30px 15px;
    }

    &__btn-close {
      position: absolute;
      top: 40px;
      right: 15px;
    }
  }
}

@media only screen and (min-width: $small-screen-up) {
  .brand-video {
    .Video {
      &__player {
        width: calc(100% - 100px);
        height: calc(100vh -100px);
        margin: 50px;
      }

      &__btn-close {
        top: 50px;
        right: 65px;
      }
    }
  }
}
